/* for the UI */
#generatorTabs {
    margin: 0px 0px 15px;
    padding: 0px;
    height: 40px;
}
#mainContent {
    min-height: 400px;
}
#exampleDropdown {
    float: right;
}
#exampleDropdown a {
    color: #444444;
}
#footerRow button {
    float: right;
}
#data-table input {
    width: 100%;
    padding: 2px;
}
#data-table td {
    padding: 3px;
}
#data-table thead th {
    font-weight: normal;
    color: #777777;
}
.removeRow {
    width: 24px;
    height: 24px;
    background-image: url(../images/remove-icon.png);
    background-size: 100%;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
}
.colorGroup {
    width: 120px;
}
.padRight30 {
	padding-right: 30px;
}
#labelFormatExample {
	width: 100px;
	display: inline;
}
#labelFormat {
	width: 70px;
	display: inline-block;
}
#pieInnerRadius, #pieOuterRadius {
	width: 100%;
}
input.smallField {
	width: 60px;
}
input.ib, .ib {
	display: inline-block;
}
.bl {
	display: block;
}
.hasError {
	background-color: #990000;
	color: white;
}
#segmentColors {
    margin: 0px;
    padding: 0px;
}

#segmentColors li {
    float: left;
    display: inline-block;
    width: 80px;
    height: 52px;
    padding: 4px;
}
#segmentColors li div {
	background-color: #dddddd;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#segmentColors li span {
	display: inline-block;
	float: left;
}
#segmentColors li span.handle {
	width: 26px;
	height: 44px;
}
#segmentColors li span.color {
	width: 46px;
	height: 44px;
}

/* overridden bootstrap CSS */
body .navbar-header {
    width: 120px;
}
.arcHover:hover path {
    opacity: 0.9;
}
.arcHover:hover .labelGroup {
    cursor: pointer;
}
.pixelSizeField {
    width: 50px;
}

body .form-group .btn, body .input-group-addon, body .input-group-btn .btn {
    padding: 8px;
}
body .colorGroup {
    width: 100px;
}

#generatorPieChart {
    display: inline-block;
}
#generatorPieChart {
    border: 1px solid #ffffff;
}
#generatorPieChart.showOutline {
    border: 1px dashed #999999;
}
.note {
    color: #999999;
}
.handle {
    background: transparent url(../images/drag.png) 50% 50% no-repeat;
    cursor: pointer;
}
.clear {
    clear: both;
}

#deleteColorZone li {
    display: none;
}
#deleteColorZone #defaultDeleteColorZone {
    display: block;
}

#sortableDataList {
	list-style: none;
	padding: 0px;
}
#sortableDataListHeader {
	list-style: none;
	padding: 0px;
}
#sortableDataListHeader {

}

.callbackCode {
	font-size: 12px;
	color: green;
}
body .disabledText {
	color: #cccccc;
}