/* for the UI */
#generatorTabs {
    margin: 0px 0px 15px;
    padding: 0px;
    height: 40px;
}
#mainContent {
    min-height: 400px;
}
#exampleDropdown {
    float: right;
}
#exampleDropdown a {
    color: #444444;
}
#footerRow button {
    float: right;
}
#data-table input {
    width: 100%;
    padding: 2px;
}
#data-table td {
    padding: 3px;
}
#data-table thead th {
    font-weight: normal;
    color: #777777;
}
.removeRow {
    width: 24px;
    height: 24px;
    background-image: url(../images/remove-icon.png);
    background-size: 100%;
    display: block;
    opacity: 0.5;
    cursor: pointer;
}
.colorGroup {
    width: 120px;
}
.padRight30 {
	padding-right: 30px;
}
#labelFormatExample {
	width: 100px;
	display: inline;
}
#labelFormat {
	width: 70px;
	display: inline-block;
}
#loadEffectSpeed {
	width:60px;
	display: inline-block;
}
#pieInnerRadius, #pieOuterRadius {
	width: 100%;
}
input.smallField {
	width: 60px;
}
input.ib, .ib {
	display: inline-block;
}
.bl {
	display: block;
}
.hasError {
	background-color: #990000;
	color: white;
}

/* overridden bootstrap CSS */
body .navbar-header {
    width: 120px;
}
.arcHover:hover path {
    opacity: 0.9;
}
.arcHover:hover .labelGroup {
    cursor: pointer;
}
.pixelSizeField {
    width: 50px;
}

body .form-group .btn, body .input-group-addon, body .input-group-btn .btn {
    padding: 8px;
}
body .colorGroup {
    width: 100px;
}