<div class="page-header">
	<h1><a href="#help" class="selectPage">Help</a> &raquo; Examples</h1>
</div>

<p>
	The following links all open up in separate windows / tabs. You'll note the complete absence of nice styles, fonts,
	etc. Yup, these pages are as plain as it gets! The purpose is to show the minimum JS and HTML required to get
	the pie chart going, so you don't have to fish through the source code to figure out what you need. Each example
	shows the JS in a <code>&lt;blockquote&gt;</code> at the bottom of the page.
</p>

<div class="row">
	<div class="col-lg-4">
		<h3>Basic Stuff</h3>
		<ul>
			<li><a href="website/examples/simple.html" target="_blank">Basic pie chart (default settings)</a></li>
			<li><a href="website/examples/size.html" target="_blank">Pie chart canvas size</a></li>
			<li><a href="website/examples/donut.html" target="_blank">A donut chart</a></li>
			<li><a href="website/examples/loadAnimation.html" target="_blank">Pie chart with no load animation</a></li>
			<li><a href="website/examples/colors.html" target="_blank">Customizing segment colours</a></li>
			<li><a href="website/examples/smallSegmentGrouping.html" target="_blank">Small segment grouping</a></li>
		</ul>
	</div>
	<div class="col-lg-4">
		<h3>Tooltips</h3>
		<ul>
			<li><a href="website/examples/tooltips.html" target="_blank">Tooltips #1 - custom captions</a></li>
			<li><a href="website/examples/tooltips_placeholders.html" target="_blank">Tooltips #2 - placeholder string</a></li>
			<li><a href="website/examples/tooltips_styles.html" target="_blank">Tooltips #3 - custom styles</a></li>
			<li><a href="website/examples/tooltips_placeholderParser.html" target="_blank">Tooltips #4 - placeholder parser</a></li>
		</ul>

		<h3>Other</h3>
		<ul>
			<li><a href="website/examples/custom_label_formatting.html" target="_blank">Custom label formatting</a></li>
        </ul>
	</div>
	<div class="col-lg-4">
		<h3>Getting Dynamic</h3>
		<ul>
			<li><a href="website/examples/callbacks_click.html" target="_blank">Segment click event</a></li>
			<li><a href="website/examples/callbacks_overandout.html" target="_blank">Mouseover/out events</a></li>
			<li><a href="website/examples/getOpenSegment.html" target="_blank">Getting the open segment</a></li>
			<li><a href="website/examples/openCloseSegment.html" target="_blank">Opening / closing a segment</a></li>
			<li><a href="website/examples/refresh.html" target="_blank">Refreshing the pie chart</a></li>
			<li><a href="website/examples/destroy.html" target="_blank">Destroying the pie chart</a></li>
			<li><a href="website/examples/configChanges.html" target="_blank">Changing pie configs without a repaint</a></li>
            <li><a href="website/examples/update_data.html" target="_blank">Updating data dynamically</a></li>
		</ul>
	</div>
</div>
