<div class="page-header">
	<h1>Help</h1>
</div>

<div class="row">
	<div class="col-lg-3 bs-docs-sidebar" id="pagenav">
		<ul class="nav nav-list bs-docs-sidenav" style="top: 170px">
			<li><a href="#quickStart" class="selectPage"><i class="icon-chevron-right"></i> Quick-start Guide</a></li>
			<li><a href="#examples" class="selectPage"><i class="icon-chevron-right"></i> Examples</a></li>
			<li><a href="#docs" class="selectPage"><i class="icon-chevron-right"></i> Documentation</a></li>
		</ul>
	</div>

	<div class="col-lg-9">
		<section>
			<p>
				This section contains a little more information about the script so you can get up to speed as soon as
				possible.
			</p>

			<ul>
				<li>The <a href="#quickStart" class="selectPage">Quick-start guide</a> is a simple, one page description of the steps you
				need to take to get a pie chart running in your own page. It's very basic and doesn't go into any
				detail about the d3pie configuration, which is where all the fun is.</li>
				<li>The <a href="#examples" class="selectPage">Examples</a> page contains a bunch of <b>standalone examples</b>
				so you can see the pie charts run in a more "sterile" environment with the bare JS and HTMl necessary.</li>
				<li>Lastly, the <a href="#docs" class="selectPage">Documentation</a> page contains all the nitty-gritty
					details about d3pie: the available configuration settings, the API functions, how to style your pie
					chart and more.</li>
			</ul>
		</section>
	</div>
</div>