<div class="page-header">
	<h1><a href="#help" class="selectPage">Help</a> &raquo; Quick-start Guide</h1>
</div>

<p>
	This page is intended as a quick-start guide. For way more detailed information about the script - especially the
	main config object, see the <a href="#docs" class="selectPage">Docs</a> page.
</p>

<ol>
	<li>
		<p>
			In your page, include the d3.js and d3pie libs. These can be placed anywhere.
		</p>

		<pre class="prettyprint language-html">&lt;script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"&gt;&lt;/script&gt;
&lt;script src="d3pie.min.js"&gt;&lt;/script&gt;
</pre>
		<p>
			This code references the CDN hosted versions of d3 - but you can always just download them and
			install them on your own server. You will need to <a href="#download" class="selectPage">download d3pie.min.js</a>
			and host that yourself.
		</p>
	</li>

	<li>
		<p>
			Create an element in the page where you want the pie chart to appear. You don't need to give the element
			any particular class or ID, but generally an ID is the simplest way to do it.
		</p>
		<pre class="prettyprint language-html">&lt;div id="myPie"&gt;&lt;/div&gt;</pre>
	</li>

	<li>
		<p>
			Add the following javascript to instantiate your pie chart. This has to be ran after the libs above have
			been loaded - so put it lower in your page, or in the document onready.
		</p>
		<pre class="prettyprint language-html">&lt;script&gt;
var pie = new d3pie("mypie", { });
&lt;/script&gt;</pre>
		<p>
			The second parameter is the config object - you'll need to populate that with all the settings you want.
			The next section explains that.
		</p>
	</li>
</ol>

<h3>The config object</h3>
<p>
	Everything about your pie chart - colours, data, title, subtitle, fonts, labels and so on - are all passed to d3pie
	via the second param of the <code>new d3pie()</code> constructor call. The simplest way to create this configuration
	object is using the <a href="#generator" class="selectPage">generator</a>. But if you wish to build it manually, you'll
	want to read the <a href="#docs" class="selectPage">documentation</a>. That describes every last setting and their
	available options. Either way, I'd suggest playing around with the generator a bit to get a general feel for how it
	all works.
</p>

<h3>Other tips</h3>

<ul>
	<li>Check out the <a href="#examples" class="selectPage">standalone examples</a>. They contain the bare bones
	JS and markup needed to display a pie chart.</li>
	<li>Stuck? Found a bug? Create a <a href="https://github.com/benkeen/d3pie/issues" target="_blank">ticket on github</a>.</li>
</ul>

<br />
