
<h4>Background Color</h4>

<div class="row">
	<div class="col-md-7">
		<input type="radio" name="backgroundColorType" id="backgroundColor1" value="transparent" style="float: left; margin-right: 8px"
			value="transparent" {{#compare config.backgroundColor null operator="=="}}checked="checked"{{/compare}} />
		<label for="backgroundColor1" style="margin-left:5px">Transparent</label>
		<span class="label label-default hidden" id="transparencyProof" style="margin-left: 10px">It looks white! Prove it!</span>
	</div>
	<div class="col-md-5">
		<div class="form-group">
			<input type="radio" name="backgroundColorType" id="backgroundColor2" value="solid" style="float: left; margin-right: 10px;"
				value="color" {{#compare config.backgroundColor null operator="!="}}checked="checked"{{/compare}} />
			<div id="backgroundColorGroup" class="colorGroup input-group">
				<input type="text" id="backgroundColor" value="{{config.backgroundColor}}" class="form-control" />
				<span class="input-group-addon"><i></i></span>
			</div>
		</div>
	</div>
</div>

<h4>Segments</h4>

<ul id="segmentColors">
	{{#each config.styles.colors}}
		{{> color-item}}
	{{/each}}
</ul>

<div class="clear"></div>
<div style="border-top: 1px solid #efefef; clear: both; margin-top: 8px; padding-top: 0px;">
	<ul class="pager">
		<li class="previous"><a href="#" id="addColor">Add color &raquo;</a></li>
	</ul>

	<ul id="deleteColorZone" style="border: 1px dashed #cccccc; padding: 20px 30px">
		<li id="defaultDeleteColorZone">Drag here to delete color</li>
	</ul>
</div>