<h4>Congratulations, you just built a pie chart! And it looks awesome! <span class="red">*</span></h4>

<p>
	Choose the content you want to generate from the radio buttons below.
</p>

<div class="row">
	<div class="col-lg-2 form-group">

		<div class="row">
			<div class="radio">
				<label class="col-lg-12" for="outputFormat1">
					<input type="radio" name="outputFormat" id="outputFormat1" checked="checked" />
					Full HTML
				</label>
			</div>
		</div>
		<div class="row">
			<div class="radio">
				<label class="col-lg-12" for="outputFormat2">
					<input type="radio" name="outputFormat" id="outputFormat2" />
					Javascript only
				</label>
			</div>
		</div>
		<div class="row">
			<div class="radio">
				<label class="col-lg-12" for="outputFormat3">
					<input type="radio" name="outputFormat" id="outputFormat3" />
					Config object only
				</label>
			</div>
		</div>
	</div>
	<div class="col-lg-10">
		<textarea id="result"></textarea>
	</div>
</div>


<br />
<p>
	<small><span class="red">*</span> I’m just being nice, I have no proof of this. My coding skills aren’t that strong.</small>
</p>