<h4>Congratulations, you just built a pie chart! And it looks awesome! <span class="red">*</span></h4>

<p>
	Choose the content you want to generate from the options below. Note: if you copy and paste the full HTML for
	use on your own site, you'll need to put a copy of the <code>d3pie.min.js</code> file in the same folder.
</p>

<div class="row">
	<div class="col-lg-2 form-group">

		<div class="row">
			<div class="radio">
				<label class="col-lg-12" for="outputFormat1">
					<input type="radio" name="outputFormat" value="full" id="outputFormat1" checked="checked" />
					Full HTML
				</label>
			</div>
		</div>
		<div class="row">
			<div class="radio">
				<label class="col-lg-12" for="outputFormat2">
					<input type="radio" name="outputFormat" value="js" id="outputFormat2" />
					Javascript only
				</label>
			</div>
		</div>
		<div class="row">
			<div class="radio">
				<label class="col-lg-12" for="outputFormat3">
					<input type="radio" name="outputFormat" value="config" id="outputFormat3" />
					Config object only
				</label>
			</div>
		</div>

		<hr size="1" />

		<input id="minimizeJS" type="checkbox" />
			<label for="minimizeJS">Minimize JS</label>

	</div>
	<div class="col-lg-10">
		<pre class="language-html" id="finalResult"></pre>
	</div>
</div>


<br />
<p>
	<small>
		<span class="red">*</span>
		I’m just being nice, I have no proof of this - my coding skills aren’t that strong. But I'm sure
		it looks great!
	</small>
</p>