<div class="page-header">
	<h1>About d3pie</h1>
</div>

<div class="row">
	<div class="col-lg-4">
		<p>d3pie is a simple, highly configurable jQuery plugin built on top of <a href=http://d3js.org/" target="_blank">d3.js</a>
		for creating simple, attractive pie charts. It's free and open source and may be downloaded or forked on
		<a href="https://github.com/benkeen/d3-pie-charts">github</a>.</p>

		<p>
			To get started, check out the <a href="#generator" data-toggle="tab">generator</a> -
			it lets you see some examples, and construct and fine-tune your own pie charts via a simple UI. For further
			info on the script, visit the <a href="#doc" data-toggle="tab">documentation</a>. Enjoy!
		</p>

		<h3>Browser Support</h3>

		<p>
			Pretty much anything that supports SVG. So:
		</p>
		<ul>
			<li>Chrome</li>
			<li>Firefox</li>
			<li>Safari/li>
			<li>IE 6+</li>
		</ul>

	</div>
	<div class="col-lg-4">
		<!-- demo pie chart here -->
		<div id="aboutTabDemoPie1"></div>
	</div>

	<div class="col-lg-4">
		<!-- demo pie chart here -->
		<div id="aboutTabDemoPie2"></div>
	</div>
</div>


<hr size="1" />

<div class="row">
	<div class="col-lg-6">
		<h3>Standalone Examples</h3>

		<p>
			Here are a few standalone examples with nothing more than the base CSS, JS and HTML needed to get the pie
			charts rendering on your own site.
		</p>
		<ul>
			<li><a href="#">Simple Pie Chart</a></li>
			<li><a href="#">Pie Chart with animation</a></li>
			<li><a href="#">Donut chart with all the frills</a></li>
		</ul>

	</div>
	<div class="col-lg-6">

		<h3>Let's get Dynamic</h3>
		<p>
			Here's a few standalone examples for programmers to see how to do a few things on-the-fly.
		</p>
		<ul>
			<li><a href="#">Refreshing the pie chart with JS</a></li>
			<li><a href="#">Changing data values on the fly</a></li>
			<li><a href="#">Updating title / subtitle / footer</a></li>
			<li><a href="#">Custom event handlers 101</a></li>
		</ul>

	</div>
</div>

