<div class="page-header">
	<h1>d3pie</h1>
</div>

<div id="aboutPageSlides">
	<div class="row aboutPageRow aboutPageRow1">
		<div class="col-lg-4">
			<h3>About</h3>
			<p>
				d3pie is a simple, highly configurable script built on <a href="http://d3js.org/" target="_blank">d3.js</a>
				for creating simple, attractive pie charts. It's free, open source, and found on
				<a href="https://github.com/benkeen/d3pie">github</a>.
			</p>
			<p>
				To get started, check out the <a href="#generator" class="selectPage" data-toggle="tab">generator</a> -
				it lets you see some examples, and construct and fine-tune your own pie charts via a simple UI. For further
				info on the script, visit the <a href="#docs" class="selectPage" data-toggle="tab">documentation</a>. Enjoy!
			</p>

			<h3 style="margin-top:25px">Browser Support</h3>
			<p>
				All modern browsers: Chrome, Firefox, Safari, IE9 and up.
			</p>
		</div>
		<div class="col-lg-4">
			<div id="aboutTabDemoPie1"></div>
			<a href="#generator-start-pie1" id="demoPie1-createSimilarBtn" style="display: none" class="selectPage createSimilarPieLink label label-info">Create Similar &raquo;</a>
		</div>
		<div class="col-lg-4 col3">
			<p>
				Configuration options include:
			</p>
			<ul class="aboutPageList">
				<li>Pie / donut charts</li>
				<li>Title, subtitle, footer text and control over placement</li>
				<li>Inner and outer labels; choice of what data appears in each</li>
				<li>Automatic percentage calculations</li>
				<li>Unlimited data set size</li>
				<li>Full control over font, font sizes, colors</li>
				<li>Segment colors</li>
				<li>Small segment grouping</li>
				<li>Background color / transparency</li>
				<li>Load, mouseover and click effects</li>
				<li>Callbacks for click, mouseover, mouseout events</li>
				<li>API for refreshing and recreating pie dynamically</li>
				<li>Control over pie chart padding, pie chart x/y offsets</li>
			</ul>
		</div>
	</div>


	<div class="row aboutPageRow aboutPageRow2">
		<div class="col-lg-5">
			<h3>Standalone Examples</h3>
			<p>
				Here are a few examples with nothing more than the base CSS, JS and HTML needed to get the pie
				charts rendering on your own site.
			</p>
			<ul>
				<li><a href="website/examples/simple.html" target="_blank">Basic pie chart (default settings)</a></li>
				<li><a href="website/examples/donut.html" target="_blank">A donut chart</a></li>
				<li><a href="website/examples/loadAnimation.html" target="_blank">Pie chart with no load animation</a></li>
				<li><a href="website/examples/colors.html" target="_blank">Customizing segment colours</a></li>
			</ul>
		</div>

		<div class="col-lg-7">
			<div id="aboutTabDemoPie2"></div>
			<a href="#generator-start-pie2" id="demoPie1-createSimilarBtn" style="display: none" class="selectPage createSimilarPieLink label label-info">Create Similar &raquo;</a>
		</div>
	</div>


	<div class="row aboutPageRow aboutPageRow3">
		<div class="col-lg-5">
			<h3>Let's get Dynamic</h3>
			<p>
				Here's a few more standalone examples for programmers to see how to do some on-the-fly stuff.
			</p>
			<ul>
				<li><a href="website/examples/callbacks_click.html" target="_blank">Segment click event</a></li>
				<li><a href="website/examples/callbacks_overandout.html" target="_blank">Mouseover/out events</a></li>
				<li><a href="website/examples/getOpenSegment.html" target="_blank">Getting the open segment</a></li>
				<li><a href="website/examples/openCloseSegment.html" target="_blank">Opening / closing a segment</a></li>
				<li><a href="website/examples/refresh.html" target="_blank">Refreshing the pie chart</a></li>
				<li><a href="website/examples/destroy.html" target="_blank">Destroying the pie chart</a></li>
				<li><a href="website/examples/configChanges.html" target="_blank">Changing pie configs without a repaint</a></li>
			</ul>
		</div>

		<div class="col-lg-7">
			<div id="aboutTabDemoPie3"></div>
			<a href="#generator-start-pie3" id="demoPie3-createSimilarBtn" style="display: none" class="selectPage createSimilarPieLink label label-info">Create Similar &raquo;</a>
		</div>
	</div>


	<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
	<a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
</div>
