<div class="page-header">
	<h1>Usage Tips</h1>
</div>

<p>
	This page explains how to get a pie chart running in your page. For more detailed information about the
	script, see the <a href="">Docs</a> page.
</p>

