<div class="page-header">
	<h1>Generator</h1>
</div>

<div class="hidden" id="generatorTabs">
	<ul class="nav nav-pills">
		<li class="active"><a href="#titleTab" data-toggle="tab">Title</a></li>
		<li><a href="#sizeTab" data-toggle="tab">Size</a></li>
		<li><a href="#dataTab" data-toggle="tab">Data</a></li>
		<li><a href="#colorTab" data-toggle="tab">Colors</a></li>
		<li><a href="#labelsTab" data-toggle="tab">Labels</a></li>
		<li><a href="#tooltipsTab" data-toggle="tab">Tooltips</a></li>
		<li><a href="#footerTab" data-toggle="tab">Footer</a></li>
		<li><a href="#effectsTab" data-toggle="tab">Effects</a></li>
		<li><a href="#eventsTab" data-toggle="tab">Events</a></li>
		<li><a href="#miscTab" data-toggle="tab">Misc</a></li>
		<li id="exampleDropdown">
			<a href="#examples" data-toggle="dropdown">Examples <span class="caret"></span></a>
			<ul class="dropdown-menu pull-right">{{{examples}}}</ul>
		</li>
	</ul>
</div>

<div class="row hidden" id="mainContent">
	<div class="col-md-5" id="sidebar">
		<div class="tab-content">
			<div class="tab-pane fade active in" id="titleTab"></div>
			<div class="tab-pane fade" id="sizeTab"></div>
			<div class="tab-pane fade" id="dataTab"></div>
			<div class="tab-pane fade" id="colorTab"></div>
			<div class="tab-pane fade" id="labelsTab"></div>
			<div class="tab-pane fade" id="tooltipsTab"></div>
			<div class="tab-pane fade" id="footerTab"></div>
			<div class="tab-pane fade" id="effectsTab"></div>
			<div class="tab-pane fade" id="eventsTab"></div>
			<div class="tab-pane fade" id="miscTab"></div>
		</div>
	</div>
	<div class="col-md-7">
		<div id="generatorPieChart"></div>
	</div>
</div>

<div id="footerRow" class="hidden">
	<hr />
	<button class="btn btn-primary btn-info">Generate &raquo;</button>
</div>