<div class="row col-lg-12">
	<h4>Events</h4>
</div>


<div class="row">
	<div class="col-md-4">
		<input type="checkbox" />
		<label for="event" class="control-label">Onload</label>
	</div>
	<div class="col-md-8">
		<div class="form-group">
			<input type="text" id="pullOutSegmentOnClickEffectSpeed" class="form-control ib" value="function() { console.log(\"loaded.\"; }" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<input type="checkbox" />
		<label for="event" class="control-label">Segment mouseover</label>
	</div>
	<div class="col-md-8">
		<div class="form-group">
			<input type="text" id="pullOutSegmentOnClickEffectSpeed" class="form-control ib" value="" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<input type="checkbox" />
		<label for="event" class="control-label">Segment mouseout</label>
	</div>
	<div class="col-md-8">
		<div class="form-group">
			<input type="text" id="pullOutSegmentOnClickEffectSpeed" class="form-control ib" value="" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<input type="checkbox" />
		<label for="event" class="control-label">Segment click</label>
	</div>
	<div class="col-md-8">
		<div class="form-group">
			<input type="text" id="pullOutSegmentOnClickEffectSpeed" class="form-control ib" value="" />
		</div>
	</div>
</div>
