<h4>Labels</h4>

<div class="row form-group">
	<div class="col-md-4">
		<input type="radio" name="labelType" id="labelType1" value="labels" checked="checked" />
		<label for="labelType1">Labels</label>
	</div>
	<div class="col-md-4">
		<input type="radio" name="labelType" id="labelType2" value="legend" />
		<label for="labelType2">Legend</label>
	</div>
	<div class="col-md-4">
		<input type="radio" name="labelType" id="labelType3" value="none" />
		<label for="labelType3">Nothin'</label>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<label for="labelLocation" class="control-label">Label Location</label>
		<div class="form-group padRight30">
			<select id="labelLocation" class="form-control">
				<option value="inside" {{#compare config.labels.location "inside"}}selected="selected"{{/compare}}>Inside</option>
				<option value="outside" {{#compare config.labels.location "outside"}}selected="selected"{{/compare}}>Outside</option>
			</select>
		</div>
	</div>
	<div class="col-md-6">
		<label for="labelFormat" class="control-label">Label Format</label>
		<div class="form-group padRight30">
			<select id="labelFormatExample" class="form-control">
				<option value="">Examples</option>
				<option value="{L}">Label only</option>
				<option value="{L} {%}">Label plus percentage</option>
				<option value="{L} {V}">Label plus segment value</option>
			</select>
			<input type="text" id="labelFormat" value="{{config.labels.format}}" />
		</div>
	</div>
</div>

<div class="row col-md-12">
	<label for="labelLocation" class="control-label">Label component colors</label>
</div>
<div class="row">
	<div class="col-md-3">
		<label for="labelColor">Main label</label>
	</div>
	<div class="col-md-1">{L}</div>
	<div class="col-md-8">
		<div id="labelColorGroup" class="colorGroup input-group">
			<input type="text" id="labelColor" value="{{config.labels.labelColor}}" class="form-control" />
			<span class="input-group-addon"><i></i></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<label for="labelPercentageColor">Percentage</label>
	</div>
	<div class="col-md-1">{%}</div>
	<div class="col-md-8">
		<div id="labelPercentageColorGroup" class="colorGroup input-group">
			<input type="text" id="labelPercentageColor" value="{{config.labels.labelPercentageColor}}" class="form-control" />
			<span class="input-group-addon"><i></i></span>
		</div>
	</div>
</div>

<div class="row form-group">
	<div class="col-md-3">
		<label for="labelSegmentValueColor">Segment value</label>
	</div>
	<div class="col-md-1">{V}</div>
	<div class="col-md-8">
		<div id="labelSegmentValueColor" class="colorGroup input-group">
			<input type="text" id="labelSegmentValueColor" value="{{config.labels.labelSegmentValueColor}}" class="form-control" />
			<span class="input-group-addon"><i></i></span>
		</div>
	</div>
</div>
