<div class="row col-lg-12 form-group">
	<input type="checkbox" id="orderData" {{#compare config.effects.highlightSegmentOnMouseover true}}checked="checked"{{/compare}} />
	<label for="orderData" class="control-label">Hide labels for segments smaller than </label>
	<select class="form-group">

	</select>
</div>

<div class="row col-lg-12 form-group">
	<input type="checkbox" id="orderData" {{#compare config.effects.highlightSegmentOnMouseover true}}checked="checked"{{/compare}} />
	<label for="orderData" class="control-label">Order data by largest to smallest</label>
</div>

<div class="row col-lg-12 form-group">
	<input type="checkbox" id="orderData" {{#compare config.effects.highlightSegmentOnMouseover true}}checked="checked"{{/compare}} />
	<label for="orderData" class="control-label">Include footer text: </label>
</div>
