<div class="row col-lg-12">
	<h4>Element Padding</h4>
</div>

<label>Canvas Padding</label>
<div class="row">
	<div class="row col-lg-3">
		<label>Top</label>
		<input type="text" class="smallField keyupUpdateNoAnumation" />
	</div>
	<div class="row col-lg-3">
		<label>Top</label>
		<input type="text" class="smallField keyupUpdateNoAnumation" />
	</div>
	<div class="row col-lg-3">
		<label>Top</label>
		<input type="text" class="smallField keyupUpdateNoAnumation" />
	</div>
	<div class="row col-lg-3">
		<label>Top</label>
		<input type="text" class="smallField keyupUpdateNoAnumation" />
	</div>
</div>



canvasPadding: {
top: 5,
right: 5,
bottom: 5,
left: 5
},
titleSubtitlePadding: 5, // the padding between the title and subtitle
footerPiePadding: 0,
labelPieDistance: 16,



<!--
<div class="row col-lg-12">
	<h4>Misc Options</h4>
</div>

<div class="row col-lg-12 form-group">
	<input type="checkbox" id="hideLabelsForSmallSegments" {{#compare config.misc.hideLabelsForSmallSegments true}}checked="checked"{{/compare}} />
	<label for="orderData" class="control-label">Hide labels for segments <= </label>
	<input type="text" id="hideLabelsForSmallSegments" />
	<select class="form-group">
		<option value="percent">percent</option>
		<option value="value">value</option>
	</select>
</div>

<div class="row col-lg-12 form-group">
	<input type="checkbox" id="enableTooltips" {{#compare config.misc.enableTooltips true}}checked="checked"{{/compare}} />
	<label for="enableTooltips" class="control-label">Enable tooltips</label>
</div>
-->



<!--
orderData: "hightolow", // only one option right now
-->