<div class="row col-lg-12">
	<label for="pieInnerRadius" class="control-label">Pie Inner Radius</label>
</div>
<div class="row col-lg-12 form-group">
	<input type="range" id="pieInnerRadius" min="1" max="100" value="{{numbersOnly config.styles.pieInnerRadius}}" />

	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8"></div>
		<div class="col-lg-2"></div>
	<ul>
		<li>Pie</li>
		<li>{{config.styles.pieInnerRadius}}</li>
		<li>Donut</li>
	</ul>

</div>

<div class="row col-lg-12">
	<label for="titleColor" class="control-label">Background Color</label>
</div>

<div class="row">
	<div class="col-md-5">
		<input type="radio" name="backgroundColor" value="transparent" {{#compare config.backgroundColor null operator="=="}}checked="checked"{{/compare}} />
		<label for="backgroundColor" style="margin-left:5px">Transparent</label>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<input type="radio" name="backgroundColor" value="color" {{#compare config.backgroundColor null operator="!="}}checked="checked"{{/compare}} />
			<div id="backgroundColorGroup" class="colorGroup input-group">
				<input type="text" id="backgroundColor" value="{{config.backgroundColor}}" class="form-control" />
				<span class="input-group-addon"><i></i></span>
			</div>
		</div>
	</div>
</div>


<div class="row col-lg-12">
	<label class="control-label">Segment Colors</label>
</div>
