<div class="row col-lg-12">
	<h4>Effects</h4>
</div>

<div class="row paddedRow" style="border-bottom: 1px solid #dddddd">
	<div class="col-md-5">
		<label for="loadEffect" class="control-label">Load effect</label>
		<div class="form-group">
			<select id="loadEffect" class="form-control">
				<option value="none" {{#compare config.effects.load.effect "none"}}selected="selected"{{/compare}}>None</option>
				<option value="default" {{#compare config.effects.load.effect "default"}}selected="selected"{{/compare}}>Default</option>
				<!-- <option value="fadein" {{#compare config.effects.load.effect "fadein"}}selected="selected"{{/compare}}>Fade-in</option> -->
			</select>
		</div>
	</div>
	<div class="col-md-5">
		<label for="loadEffectSpeed" class="control-label">Speed</label>
		<div class="form-group">
			<input type="number" id="loadEffectSpeed" class="form-control ib smallField" step="10" value="{{config.effects.load.speed}}" />
			<label>ms</label>
		</div>
	</div>
	<div class="col-md-2">
		<label>&nbsp;</label>
		<button id="loadEffectBtn" class="btn btn-xs btn-primary btn-info">View &raquo;</button>
	</div>
</div>

<div class="row paddedRow" style="border-bottom: 1px solid #dddddd">
    <div class="col-md-5">
		<label for="pullOutSegmentOnClickEffect" class="control-label">Pie segment click effect</label>
		<div class="form-group">
			<select id="pullOutSegmentOnClickEffect" class="form-control">
				<option value="none" {{#compare config.effects.pullOutSegmentOnClick.effect "none"}}selected="selected"{{/compare}}>None</option>
				<option value="linear" {{#compare config.effects.pullOutSegmentOnClick.effect "linear"}}selected="selected"{{/compare}}>Linear</option>
				<option value="elastic" {{#compare config.effects.pullOutSegmentOnClick.effect "elastic"}}selected="selected"{{/compare}}>Elastic</option>
				<option value="bounce" {{#compare config.effects.pullOutSegmentOnClick.effect "bounce"}}selected="selected"{{/compare}}>Bounce</option>
				<option value="back" {{#compare config.effects.pullOutSegmentOnClick.effect "back"}}selected="selected"{{/compare}}>Backing in</option>
			</select>
		</div>
	</div>
	<div class="col-md-3">
		<label for="pullOutSegmentOnClickEffectSpeed" class="control-label">Speed</label>
		<div class="form-group">
			<input type="number" id="pullOutSegmentOnClickEffectSpeed" class="form-control ib smallField" step="10" value="{{config.effects.pullOutSegmentOnClick.speed}}" />
            <label>ms</label>
		</div>
	</div>
    <div class="col-md-2" style="padding-right: 0px">
        <label for="pullOutSegmentOnClickEffectSize" class="control-label">Pull-out</label>
        <div class="form-group">
            <input type="number" id="pullOutSegmentOnClickEffectSize" class="form-control ib tinyField" step="1" value="{{config.effects.pullOutSegmentOnClick.size}}" />
            <label>px</label>
        </div>
    </div>
	<div class="col-md-2">
		<label>&nbsp;</label>
		<button id="pullOutSegmentOnClickEffectBtn" class="btn btn-xs btn-primary btn-info">View &raquo;</button>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<input type="checkbox" id="highlightSegmentOnMouseover" {{#if config.effects.highlightSegmentOnMouseover}}checked="checked"{{/if}} />
		<label for="highlightSegmentOnMouseover" class="control-label">Highlight pie segment on mouseover</label>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<input type="range" id="highlightLuminosity" class="fullWidthRange" min="-0.99" max="0.99" step="0.01"
			value="{{config.effects.highlightLuminosity}}" {{#compare config.effects.highlightSegmentOnMouseover false}}disabled="disabled"{{/compare}} />
	</div>
</div>
<div class="row" id="highlightLuminosityScaleLabels">
	<div class="col-lg-2"><label>Dark</label></div>
	<div class="col-lg-8"></div>
	<div class="col-lg-2" style="text-align: right"><label>Light</label></div>
</div>

