<div class="page-header">
	<h1>Generator</h1>
</div>

<div class="hidden" id="generatorTabs">
	<ul class="nav nav-pills">
		<li><a class="selectPage" href="#generator-title">Title</a></li>
		<li><a class="selectPage" href="#generator-size">Size</a></li>
		<li><a class="selectPage" href="#generator-data">Data</a></li>
		<li><a class="selectPage" href="#generator-colors">Colors</a></li>
		<li><a class="selectPage" href="#generator-labels">Labels</a></li>
		<li><a class="selectPage" href="#generator-footer">Footer</a></li>
		<li><a class="selectPage" href="#generator-effects">Effects</a></li>
		<li><a class="selectPage" href="#generator-events">Events</a></li>
		<li><a class="selectPage" href="#generator-misc">Misc</a></li>
		<li id="themesDropdown">
			<a href="#themes" data-toggle="dropdown">Themes <span class="caret"></span></a>
			<ul class="dropdown-menu pull-right">{{{examples}}}</ul>
		</li>
		<li id="exampleDropdown">
			<a href="#examples" data-toggle="dropdown">Examples <span class="caret"></span></a>
			<ul class="dropdown-menu pull-right">{{{examples}}}</ul>
		</li>
		<li id="generateBtnItem">
			<button class="btn btn-primary btn-sm btn-info">Generate the code! &raquo;</button>
		</li>
	</ul>
</div>

<div class="row hidden" id="mainContent">
	<div class="col-md-5" id="sidebar">
		<div class="tab-content">
			<div class="hidden subPage" id="generator-title"></div>
			<div class="hidden subPage" id="generator-size"></div>
			<div class="hidden subPage" id="generator-data"></div>
			<div class="hidden subPage" id="generator-colors"></div>
			<div class="hidden subPage" id="generator-labels"></div>
			<div class="hidden subPage" id="generator-footer"></div>
			<div class="hidden subPage" id="generator-effects"></div>
			<div class="hidden subPage" id="generator-events"></div>
			<div class="hidden subPage" id="generator-misc"></div>
		</div>
	</div>
	<div class="col-md-7">
		<div id="generatorPieChart" class="showOutline"></div>
		<div id="generatorPieChartPad"></div>
		<div id="birdyBackground"></div>
	</div>
</div>

<div id="footerRow" class="hidden">
	<hr />
</div>