<div class="page-header">
	<h1>Generator</h1>
</div>

<div class="hidden" id="generatorTabs">
	<ul class="nav nav-pills">
		<li class="active"><a href="#generatorTitle" data-toggle="tab">Title</a></li>
		<li><a href="#generatorSize" data-toggle="tab">Size</a></li>
		<li><a href="#generatorData" data-toggle="tab">Data</a></li>
		<li><a href="#generatorColors" data-toggle="tab">Colors</a></li>
		<li><a href="#generatorLabels" data-toggle="tab">Labels</a></li>
		<li><a href="#generatorFooter" data-toggle="tab">Footer</a></li>
		<li><a href="#generatorEffects" data-toggle="tab">Effects</a></li>
		<li><a href="#generatorEvents" data-toggle="tab">Events</a></li>
		<li><a href="#generatorMisc" data-toggle="tab">Misc</a></li>
		<li id="themesDropdown">
			<a href="#themes" data-toggle="dropdown">Themes <span class="caret"></span></a>
			<ul class="dropdown-menu pull-right">{{{examples}}}</ul>
		</li>
		<li id="exampleDropdown">
			<a href="#examples" data-toggle="dropdown">Examples <span class="caret"></span></a>
			<ul class="dropdown-menu pull-right">{{{examples}}}</ul>
		</li>
		<li id="generateBtnItem">
			<button class="btn btn-primary btn-sm btn-info">Generate the code! &raquo;</button>
		</li>
	</ul>
</div>

<div class="row hidden" id="mainContent">
	<div class="col-md-5" id="sidebar">
		<div class="tab-content">
			<div class="tab-pane fade" id="generatorTitle"></div>
			<div class="tab-pane fade" id="generatorSize"></div>
			<div class="tab-pane fade" id="generatorData"></div>
			<div class="tab-pane fade" id="generatorColors"></div>
			<div class="tab-pane fade" id="generatorLabels"></div>
			<div class="tab-pane fade" id="generatorFooter"></div>
			<div class="tab-pane fade" id="generatorEffects"></div>
			<div class="tab-pane fade" id="generatorEvents"></div>
			<div class="tab-pane fade" id="generatorMisc"></div>
		</div>
	</div>
	<div class="col-md-7">
		<div id="generatorPieChart" class="showOutline"></div>
		<div id="generatorPieChartPad"></div>
		<div id="birdyBackground"></div>
	</div>
</div>

<div id="footerRow" class="hidden">
	<hr />
</div>