<div class="row col-lg-12">
	<h4>Colors</h4>
</div>

<div class="row col-lg-12">
	<label for="titleColor" class="control-label">Background Color</label>
</div>

<div class="row">
	<div class="col-md-5">
		<input type="radio" name="backgroundColorType" id="backgroundColor1" value="transparent" style="float: left; margin-right: 8px"
			value="transparent" {{#compare config.backgroundColor null operator="=="}}checked="checked"{{/compare}} />
		<label for="backgroundColor1" style="margin-left:5px">Transparent</label>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<input type="radio" name="backgroundColorType" id="backgroundColor2" value="solid" style="float: left; margin-right: 10px;"
				value="color" {{#compare config.backgroundColor null operator="!="}}checked="checked"{{/compare}} />
			<div id="backgroundColorGroup" class="colorGroup input-group">
				<input type="text" id="backgroundColor" value="{{config.backgroundColor}}" class="form-control" />
				<span class="input-group-addon"><i></i></span>
			</div>
		</div>
	</div>
</div>

<div class="row col-lg-12">
	<label class="control-label">Segment Colors</label>
</div>

<ul id="segmentColors">
	{{#each config.styles.colors}}
	<li>
		<div>
			<span class="handle"></span>
			<span class="color" style="background-color:{{this}}"></span>
		</div>
	</li>
	{{/each}}
</ul>


<div class="clear"></div>
<div style="border-top: 1px solid #efefef; clear: both; margin-top: 8px; padding-top: 8px;">
	<ul class="pager">
		<li class="previous"><a href="#">Add color &raquo;</a></li>
	</ul>

	<ul id="deleteColorZone" style="border: 1px dashed #cccccc; padding: 20px 30px">
		<li id="defaultDeleteColorZone">Drag here to delete color</li>
	</ul>
</div>