<h4>Labels</h4>

<div class="row form-group">
	<div class="col-md-4">
		<input type="radio" name="labelType" id="labelType1" value="labels" checked="checked" />
		<label for="labelType1">Labels</label>
	</div>
	<div class="col-md-4">
		<input type="radio" name="labelType" id="labelType2" value="legend" />
		<label for="labelType2">Legend</label>
	</div>
	<div class="col-md-4">
		<input type="radio" name="labelType" id="labelType3" value="none" />
		<label for="labelType3">Nothin'</label>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<label for="labelLocation" class="control-label">Label Outside</label>
		<div class="form-group padRight30">
			<select id="labelLocation" class="form-control">
				<option value="none">None</option>
				<option value="label">Label</option>
				<option value="value">Value</option>
				<option value="percentage">Percentage</option>
				<option value="label">label, value (same line)</option>
				<option value="label-value1">label, value (separate lines)</option>
				<option value="label-percentage1">label, percentage (same line)</option>
				<option value="label-percentage2">label, percentage (separate lines)</option>
			</select>
		</div>
	</div>
	<div class="col-md-6">
		<label for="labelFormat" class="control-label">Label Inside</label>
		<div class="form-group padRight30">
			<select id="labelFormatExample" class="form-control">
				<option value="none">None</option>
				<option value="label">Label</option>
				<option value="value">Value</option>
				<option value="percentage">Percentage</option>
				<option value="label">label, value (same line)</option>
				<option value="label-value1">label, value (separate lines)</option>
				<option value="label-percentage1">label, percentage (same line)</option>
				<option value="label-percentage2">label, percentage (separate lines)</option>
			</select>
		</div>
	</div>
</div>

<div class="row col-md-12">
	<label for="labelLocation" class="control-label">Label component colors</label>
</div>
<div class="row">
	<div class="col-md-4">
		<label for="labelColor">Label</label>
	</div>
	<div class="col-md-4">
		<label for="labelPercentageColor">Percentage</label>
	</div>
	<div class="col-md-4">
		<label for="labelSegmentValueColor">Value</label>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div id="labelColorGroup" class="colorGroup input-group">
			<input type="text" id="labelColor" value="{{config.labels.labelColor}}" class="form-control" />
			<span class="input-group-addon"><i></i></span>
		</div>
	</div>
	<div class="col-md-4">
		<div id="labelPercentageColorGroup" class="colorGroup input-group">
			<input type="text" id="labelPercentageColor" value="{{config.labels.labelPercentageColor}}" class="form-control" />
			<span class="input-group-addon"><i></i></span>
		</div>
	</div>
	<div class="col-md-4">
		<div id="labelSegmentValueColor" class="colorGroup input-group">
			<input type="text" id="labelSegmentValueColor" value="{{config.labels.labelSegmentValueColor}}" class="form-control" />
			<span class="input-group-addon"><i></i></span>
		</div>
	</div>
</div>
