<div class="page-header">
	<h1>Download</h1>
</div>

<div class="row">
	<div class="col-lg-2">

		<div style="margin-bottom: 6px">
			<a href="https://raw.githubusercontent.com/benkeen/d3pie/{{version}}/d3pie/d3pie.min.js"
			   class="btn btn-primary btn-info btn-sm" target="_blank">d3pie.min.js</a>
		</div>
		<div>
			<a href="https://raw.githubusercontent.com/benkeen/d3pie/{{version}}/d3pie/d3pie.js"
			   class="btn btn-primary btn-info btn-sm" target="_blank">d3pie.js</a>
		</div>

	</div>
	<div class="col-lg-10">
		<p>
			Click on either of the buttons to get the latest version. We recommend you use the minified version
			of the script (<code>d3pie.min.js</code>) for your production environments.
		</p>
		<p>
			For a full list of d3pie releases, see <a href="https://github.com/benkeen/d3pie/releases">github</a>.
		</p>
		<p>
			Have fun!
		</p>
	</div>
</div>
