<div class="page-header">
	<h1>About d3pie</h1>
</div>

<div class="row">
	<div class="col-lg-6">
		<p>d3pie is a small jQuery plugin built on top of <a href="">d3.js</a> for creating simple, attractive
		pie charts. It's free and open source and may be downloaded or forked on
		<a href="https://github.com/benkeen/d3-pie-charts">github</a>.</p>

		<h3>Browser Support</h3>

		<p>
			D3 uses SVG, so...
		</p>

	</div>
	<div class="col-lg-6">
		<!-- demo pie chart here -->
		<div id="aboutTabDemoPie1"></div>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<h3>Standalone Examples</h3>

		<p>
			Here are a few standalone examples with nothing more than the base CSS, JS and HTML needed to get the pie
			charts rendering on your own site.
		</p>
		<ul>
			<li><a href="#">Simple Pie Chart</a></li>
			<li><a href="#">Pie Chart with animation</a></li>
			<li><a href="#">Donut chart with all the frills</a></li>
		</ul>
	</div>
</div>

