<div class="page-header">
	<h1>About D3Pie</h1>
</div>

<div class="row">
	<div class="col-lg-4">
		D3Pie is a small javascript library built on top of <a href="">d3.js</a> for creating simple, attractive
		pie charts. It's free and open source and may be downloaded or forked on
		<a href="https://github.com/benkeen/d3-pie-charts">github</a>.
	</div>
	<div class="col-lg-4">
		<!-- demo pie chart here -->
		<div id="aboutTabDemoPie1"></div>
	</div>
	<div class="col-lg-4">
		<!-- demo pie chart here -->
		<div id="aboutTabDemoPie2"></div>
	</div>
</div>

