<div class="page-header">
	<h1>D3Pie Generator</h1>
</div>

<div class="hidden" id="generatorTabs"></div>

<div class="row hidden" id="mainContent">
	<div class="col-md-5" id="sidebar"></div>
	<div class="col-md-7">
		<div id="demoPieChart"></div>
	</div>
</div>

<div id="footerRow" class="hidden">
	<hr />
	<button class="btn btn-primary btn-info">Generate &raquo;</button>
</div>