<ul id="generator-sections" class="nav nav-pills">
	<li class="active"><a href="#styles" data-toggle="tab">Main</a></li>
	<li><a href="#labels" data-toggle="tab">Labels</a></li>
	<li><a href="#data" data-toggle="tab">Data</a></li>
	<li><a href="#styles" data-toggle="tab">Styles</a></li>
	<li><a href="#colours" data-toggle="tab">Colours</a></li>
	<li><a href="#transitions" data-toggle="tab">Effects</a></li>
</ul>

<div id="myTabContent" class="tab-content" style="min-height: 322px">

	<form class="form-horizontal">

		<div class="tab-pane fade active in" id="styles">
			<div class="form-group">
				<label for="title" class="col-lg-4 control-label">Title</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" id="title" value="Programming Languages" />
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="col-lg-4 control-label">Title Location</label>
				<div class="col-lg-8">
					<span class="label label-primary">Top-left</span>
					<span class="label label-default">Top-center</span>
					<span class="label label-default">Pie center</span>
				</div>
			</div>

			<!--
			<div class="form-group">
				<label for="title" class="col-lg-4 control-label">Canvas Size</label>
				<div class="col-lg-8">
					<input type="text" size="5" min="50" max="200" value="400" /> px
					<input type="text" size="5" min="50" max="200" value="400" /> px
					<br />
					<input type="checkbox" /> <label>Show border</label>
				</div>
			</div>
			-->

			<div class="form-group">
				<label for="title" class="col-lg-4 control-label">Inner Radius</label>
				<div class="col-lg-8">
					<input type="range" min="50" max="200" value="80" style="width:100%" />
				</div>
			</div>
		</div>

		<div class="tab-pane" id="labels">
			<ol>
				<li>Location: outside / inside</li>
				<li>Label format: label + % / label + value / label only</li>
				<li>Tooltips</li>
			</ol>
		</div>
		<div class="tab-pane" id="data">
			<ol>
				<li>Gradient + controls</li>
			</ol>
		</div>
		<div class="tab-pane" id="transitions">
			<ol>
				<li>Load effect:
					<select>
						<option value="">None</option>
						<option value="">Fade-in all</option>
						<option value="">Fade in pie, fade in labels</option>
						<option value="">Swoosh segments, fade in labels</option>
						<option value="">Swoosh entire pie, fade in labels</option>
					</select>
				</li>
				<li>Load effect speed</li>
				<li>segment highlight mouseover</li>
				<li>segment pull-out onclick</li>
				<li>segment pull-out transition effect</li>
			</ol>
		</div>

	</form>
</div>
