<h4>Getting Started</h4>

<p>
	This section lets you construct your own pie charts right through the interface, then generate the code
	needed to embed it on your own website.
</p>

<p>
	Click through the examples in the dropdown below to find one similar to what you want. Then customize it via the
	sections on the left. When you're done editing, click the bottom <b>Generate</b> nav item to generate the code.
</p>


<ul class="nav nav-pills" style="">
	<li id="exampleDropdown">
		<a href="#examplePies" data-toggle="dropdown">Examples <span class="caret"></span></a>
		<ul class="dropdown-menu pull-right">{{{examplePies}}}</ul>
	</li>
	<li>
		<div id="currentExamplePieName">{{currentExamplePieName}}</div>
	</li>
</ul>
