<h4>Getting Started</h4>

<p>
	Choose an example pie chart from the dropdown below, then use the nav on the left to customize it
	in whatever way you want. When you're done editing, click <b>Generate</b> to generate the code.
</p>


<ul class="nav nav-pills" style="">
	<li id="exampleDropdown">
		<a href="#examples" data-toggle="dropdown">Examples <span class="caret"></span></a>
		<ul class="dropdown-menu pull-right">{{{examples}}}</ul>
	</li>
	<li>
		<div id="currentExamplePieName">{{currentExamplePieName}}</div>
	</li>
</ul>
