<h4>Data</h4>

<div class="row">
	<div class="col-md-3">
		<label>Order data by</label>
	</div>
	<div class="col-md-9 form-group">
		<select id="dataSortOrder" class="form-control changeUpdateNoAnimation">
			<option value="none" {{#compare config.data.sortOrder "none"}}selected="selected"{{/compare}}>Item listing</option>
			<option value="random" {{#compare config.data.sortOrder "random"}}selected="selected"{{/compare}}>Random</option>
			<option value="value-asc" {{#compare config.data.sortOrder "value-asc"}}selected="selected"{{/compare}}>Value - Ascending</option>
			<option value="value-desc" {{#compare config.data.sortOrder "value-desc"}}selected="selected"{{/compare}}>Value - Descending</option>
			<option value="label-asc" {{#compare config.data.sortOrder "label-asc"}}selected="selected"{{/compare}}>Label - A-Z</option>
			<option value="label-desc" {{#compare config.data.sortOrder "label-desc"}}selected="selected"{{/compare}}>Label - Z-A</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<label>Color sets</label>
	</div>
	<div class="col-md-6 form-group">
		<select id="colorSets" class="form-control">
			<option value="">&#8212;</option>
			<optgroup label="Small sets (10 colors)">
				<option value="small-rainbow">Rainbow</option>
				<option value="small-grays">Grays</option>
				<option value="small-blues">Blues</option>
			</optgroup>
			<optgroup label="Medium sets (25 colors)">
				<option value="small-rainbow">Rainbow</option>
			</optgroup>
			<optgroup label="Large sets (50 colors)">
				<option value="small-rainbow">Rainbow</option>
			</optgroup>
		</select>
	</div>
	<div class="col-md-3">
		<button class="btn btn-info btn-sm">Shuffle</button>
	</div>
</div>

<ul id="sortableDataListHeader">
	<li class="col0"></li>
	<li class="col1"></li>
	<li class="col2">Text</li>
	<li class="col3">Value</li>
</ul>

<div class="clear" />

<ul id="sortableDataList">
{{#each config.data.content}}
	{{> data-row }}
{{/each}}
</ul>

<ul class="pager">
	<li class="previous"><a href="#" id="addRow">Add row &raquo;</a></li>
</ul>
