<h4>Events</h4>

<div class="row">
	<div class="col-md-5">
		<input type="checkbox" class="callbackCheckbox" id="callbacksOnloadEnabled" data-prop="callbacks.onload" />
		<label for="callbacksOnloadEnabled" class="control-label">Onload</label>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<blockquote class="callbackCode disabledText">{{config.callbacks.onload}}</blockquote>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5" style="padding-right: 0px">
		<input type="checkbox" class="callbackCheckbox" id="callbacksSegmentMouseoverEnabled" data-prop="callbacks.onMouseoverSegment" />
		<label for="callbacksSegmentMouseoverEnabled" class="control-label">Segment mouseover</label>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<blockquote class="callbackCode disabledText">{{config.callbacks.onMouseoverSegment}}</blockquote>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<input type="checkbox" class="callbackCheckbox" id="callbacksSegmentMouseoutEnabled" data-prop="callbacks.onMouseoutSegment" />
		<label for="callbacksSegmentMouseoutEnabled" class="control-label">Segment mouseout</label>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<blockquote class="callbackCode disabledText">{{config.callbacks.onMouseoutSegment}}</blockquote>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<input type="checkbox" class="callbackCheckbox" id="callbacksSegmentClickEnabled" data-prop="callbacks.onClickSegment" />
		<label for="callbacksSegmentClickEnabled" class="control-label">Segment click</label>
	</div>
	<div class="col-md-7">
		<div class="form-group">
			<blockquote class="callbackCode disabledText">{{config.callbacks.onClickSegment}}</blockquote>
		</div>
	</div>
</div>
