#mainNav1 {
    width: 102px;
}
#mainNav2 {
    width: 90px;
}


/* for the UI */
#generatorTabs {
    margin: 0px 0px 15px;
    padding: 0px;
    height: 40px;
}
#mainContent {
    min-height: 400px;
}
#themesDropdown {
	border-left: 1px solid #cccccc;
	margin-left: 20px;
	padding-left: 20px;
}
#themesDropdown a, #exampleDropdown a {
    color: #444444;
}
#generateBtnItem {
	float: right;
}

#footerRow button {
    float: right;
}
#data-table input {
    width: 100%;
    padding: 2px;
}
#data-table td {
    padding: 3px;
}
#data-table thead th {
    font-weight: normal;
    color: #777777;
}
.removeRow {
    width: 24px;
    height: 24px;
    background-image: url(../images/remove-icon.png);
    background-size: 100%;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: -7px;
}
.removeRow:hover {
    opacity: 0.8;
}
.colorGroup {
    width: 120px;
}
.padRight30 {
	padding-right: 30px;
}
#labelFormatExample {
	width: 100px;
	display: inline;
}
#labelFormat {
	width: 70px;
	display: inline-block;
}
#pieInnerRadius, #pieOuterRadius {
	width: 100%;
}
input.smallField {
	width: 60px;
}
input.ib, .ib {
	display: inline-block;
}
.bl {
	display: block;
}
.hasError {
	background-color: #990000;
	color: white;
}
#segmentColors {
    margin: 0px;
    padding: 0px;
}


#segmentColors li {
    float: left;
    display: inline-block;
    width: 80px;
    height: 52px;
    padding: 4px;
}
#segmentColors li div {
	background-color: #dddddd;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#segmentColors li span {
	display: inline-block;
	float: left;
}
#segmentColors li span.handle {
	width: 26px;
	height: 44px;
}
#segmentColors li span.color {
	width: 46px;
	height: 44px;
}

/* overridden bootstrap CSS */
body .navbar-header {
    width: 120px;
}
.arcHover:hover path {
    opacity: 0.9;
}
.arcHover:hover .labelGroup {
    cursor: pointer;
}
.pixelSizeField {
    width: 50px;
}

body .form-group .btn, body .input-group-addon, body .input-group-btn .btn {
    padding: 8px;
}
body .colorGroup {
    width: 100px;
}

#generatorPieChart {
    display: inline-block;
    position: absolute;
    z-index: 2;
}
#generatorPieChart {
    border: 1px solid #ffffff;
}
#generatorPieChart.showOutline {
    border: 1px dashed #999999;
}
.note {
    color: #999999;
}
.handle {
    background: transparent url(../images/drag.png) 50% 50% no-repeat;
    cursor: pointer;
}
.clear {
    clear: both;
}

#deleteColorZone li {
    display: none;
}
#deleteColorZone #defaultDeleteColorZone {
    display: block;
}

#sortableDataList {
	list-style: none;
	padding: 0px;
    border: 1px solid #dddddd;
    border-bottom: 0px;
}
#sortableDataList input {
    padding: 2px;
}
#sortableDataList li {
    border-bottom: 1px solid #dddddd;
    padding: 3px;
}
#sortableDataList li:nth-child(odd) {
    background-color: #f9f9f9;
}

#sortableDataList .handle {
    width: 15px;
    height: 17px;
    display: inline-block;
    background: transparent url(../images/drag_sm.png) 50% 50% no-repeat;
    cursor: pointer;
    margin: 3px 0px -3px;
}

#sortableDataListHeader {
	list-style: none;
	padding: 0px;
    color: #777777;
    font-size: 12px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    height: 30px;
    margin-bottom: 0px;
}
#sortableDataListHeader li {
    float: left;
    padding: 6px;
    border-right: 1px solid #dddddd;
}
#sortableDataListHeader li.col0 {
    width: 22px;
    height: 29px;
}
#sortableDataListHeader li.col1 {
    width: 241px;
}
#sortableDataListHeader li.col2 {
    width: 84px;
}
#sortableDataListHeader li.col3 {
    width: 40px;
}
#sortableDataListHeader li.col4 {
    width: 40px;
}

.dataLabel {
    width: 239px;
}
.dataValue {
    width: 80px;
}
.dataOffsetX, .dataOffsetY {
    width: 35px;
}

.callbackCode {
	font-size: 12px;
	color: green;
}
body .disabledText {
	color: #cccccc;
}

.misc .col-lg-3 {
	padding-right: 10px;
}

#birdyBackground canvas{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
	margin-left: 18px;
}

#transparencyProof {
	cursor: pointer;
}
body .pager {
	margin: 16px 0px;
}


/* an ACTION. This hides an element with (hardware-accelerated) CSS */
.fadeOut {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	opacity: 0;
}
.hidden {
	display: none;
}

body .fadeIn {
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	opacity: 1;
}
.topPage, .subPage {
	opacity: 0;
}